/* RegistrationForm.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_WPhoDQ2GZrmJrHZvm79O4Fkb4pbolkowIw&usqp=CAU.jpg') center/cover no-repeat fixed; 
    color: #6bc99d; 
     display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

.registration-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #cfc5c5;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  